.container{
    display: grid;
    grid-template-columns: 240px 240px ;
    grid-template-rows: 75px 150px 125px 125px 250px 250px 80px ;
}

.one{
    border: 1px solid rgb(0, 0, 0);
    
}
.a{
    background-color: rgba(223, 211, 217, 0.781);
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
.two{
    border-left: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
}
.b{
    background-color: rgba(221, 229, 250, 0.781); 
    grid-column: 1 / 3;
    grid-row: 2 / 3; 
}

.five{
    border-left: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
}
.i{
    background-color: rgba(100, 97, 99, 0.74);
    grid-column: 1 / 3;
    grid-row: 7 / 8;   
}
header, div , footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em
}

@media all and (min-width: 768px) {
    .container{
        display: grid;
        grid-template-columns: 384px 384px ;
        grid-template-rows: 75px 150px 125px 125px 250px 250px 80px ;
    }
    .a{
        background-color: rgba(90, 66, 78, 0.473);
    }
    .b{
        background-color: rgba(69, 82, 117, 0.445); 
        }
    .i{
        background-color: rgba(166, 209, 47, 0.397);
        }
}  
    
@media all and (min-width: 960px) {
    .container{
        display: grid;
        grid-template-columns: 200px 190px 190px 190px 190px ;
        grid-template-rows: 100px 200px 250px 150px ;
    }
    .a{
        background-color: rgba(119, 184, 148, 0.281);  
        grid-column: 1 / 6;
        grid-row: 1 / 2;
    }
    .b{
        border-right: 0px solid rgb(0, 0, 0);
        background-color: rgba(88, 54, 143, 0.384);  
        grid-column: 1 / 2;
        grid-row: 2 / 5; 
    }
    .i{
        background-color: rgba(243, 200, 151, 0.329);
        grid-column: 2 / 6;
        grid-row: 4 / 5;   
    }
}
